<div class="container">
  <h1>My To Do</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to task.title, "#", data: { bs_toggle: "modal", bs_target: "#taskDetailModal#{task.id}" } %>
      <span class="badge bg-primary rounded-pill"><%= task.due_date %></span>
      </li>
    <% end %>
  </ul>
  <% @tasks.each do |task| %>
  <div class="modal fade" id="taskDetailModal<%= task.id %>" tabindex="-1" aria-labelledby="taskDetailModalLabel<%= task.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskDetailModalLabel<%= task.id %>"><%= task.title %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= task.description %>
          <br>
          Due Date: <%= task.due_date %>
          <br>
          Status: <%= task.status %>
          <br>
          Priority: <%= task.priority %>
        </div>
        <div class="modal-footer">
          <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-primary' %>
          <%= link_to 'Delete', task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
